/*首頁巨大廣告看版head動畫*/

@keyframes head-ani{
  0% {
    transform: translateY(3rem) scale(.95);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#head1, #head2, #head3, #head4{
  animation-name: head-ani;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: .8s;
  animation-delay: 1s;
  opacity: 0;
}

#head1{animation-delay: .1s;}

#head2{animation-delay: .2s;}

#head3{animation-delay: .3s;}

#head4{animation-delay: .4s;}

/*所有商品入場動畫*/
@keyframes product-item-ani{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#product-item{
  opacity: 0;
  animation-name: product-item-ani;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-delay: 0s
}

/*商品詳情動畫*/
@keyframes product-detail-ani{
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#product-detail{
  animation-name: product-detail-ani;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-delay: 0s;
  opacity: 0;
}

/* 提示信息的動畫 */
@keyframes alert-ani{
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#alert-ani{
  z-index: 100;
  animation-name: alert-ani;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-delay: 0s;
  opacity: 0;
}

/*
@keyframes navbar-ani{
  0% {
    transform: translateY(-.5rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#navbar{
  animation-name: navbar-ani;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-delay: 0s;
  opacity: 0;
}*/
