/* 自訂樣式 如果有的話 */
body{
  /*padding-top: 5rem;*/
}

/* 修正icon垂直對齊 */
.material-icons{
  vertical-align: bottom;
}

/* login頁背景 */
.login-bg{
  background: url('https://c.pxhere.com/photos/62/b8/restaurant_cafe_bar_counter-2620.jpg!d');
  background-position: top center;
  background-size: 100% auto;
  background-attachment: fixed;
}

/* jumbotron滑入效果 */
.link.jumbotron, div.link{
  transition: transform .3s;
}

.link.jumbotron:hover, div.link:hover{
  transform: scale(1.02);
  cursor: pointer;
}

/* 文字陰影 */
.text-shadow-dark{
  text-shadow:0 0 .5rem black;
}

.text-shadow-light{
  text-shadow:0 0 .5rem #fff;
}

.blockquote-footer{
  color: #ccc;
}
